<div th:replace="header::html" ></div>
<link rel="stylesheet" href="../styles/detail.css">
<div class="zg-wrap zu-main clearfix with-indention-votebar" itemscope="" itemtype="http://schema.org/Question"
     id="zh-single-question-page" data-urltoken="36301524" role="main">
    <div class="zu-main-content">
        <div class="zu-main-content-inner">
            <meta itemprop="isTopQuestion" content="false">
            <meta itemprop="visitsCount" content="402">
            <div id="zh-question-title" data-editable="true" class="zm-editable-status-normal">
                <h2 class="zm-item-title">

                    <span class="zm-editable-content">[[${question['title']}]]</span>

                </h2>
            </div>
            <div id="zh-question-detail" class="zm-item-rich-text zm-editable-status-normal">
                <div class="zm-editable-content">[[${question['content']}]]</div>
            </div>
            <div class="zm-side-section">
                <div class="zm-side-section-inner" id="zh-question-side-header-wrap">
                    
                    <div th:if="${followed}">
                    <button class="follow-button zg-follow zg-btn-white js-follow-question" data-id="${question['id']}"
                            data-status="1">
                        取消关注
                    </button>
                    </div>
                    <div th:if="!${followed}">
                    <button class="follow-button zg-follow zg-btn-green js-follow-question" data-id="${question['id']}">
                        关注问题
                    </button>
                    </div>
                    <div class="zh-question-followers-sidebar">
                        <div class="zg-gray-normal">
                            <a href="javascript:void(0);"><strong class="js-user-count">${followUsers.size()}</strong></a>人关注该问题
                        </div>
                        <div class="list zu-small-avatar-list zg-clear js-user-list">

                            <div th:each="vo : ${followUsers}">
                            <a th:class="zm-item-link-avatar js-user-${vo.getId()}" th:href="@{'/user/'+${vo.getId()}}"
                               data-original_title="${vo.getName()}">
                                <img th:src="${vo.getHheadUrl()}"
                                     class="zm-item-img-avatar"></a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div id="zh-question-answer-wrap" data-pagesize="10" class="zh-question-answer-wrapper navigable"
                 data-widget="navigable" data-navigable-options="{&quot;items&quot;: &quot;&gt;.zm-item-answer&quot;}"
                 data-init="{&quot;params&quot;: {&quot;url_token&quot;: 36301524, &quot;pagesize&quot;: 10, &quot;offset&quot;: 0}, &quot;nodename&quot;: &quot;QuestionAnswerListV2&quot;}">

                <div th:each="comment : ${comments}">
                <div class="zm-item-answer  zm-item-expanded js-comment">
                    <link itemprop="url" href="">
                    <meta itemprop="answer-id" content="22162611">
                    <meta itemprop="answer-url-token" content="66862039">
                    <a class="zg-anchor-hidden" name="answer-22162611"></a>

                    <div class="zm-votebar goog-scrollfloater js-vote" th:data-id="${comment.get('comment')['id']}">
                        
                        <div th:if=" ${comment.get('liked')} gt 0">
                        
                        <button class="up js-like pressed" title="赞同" 
                        th:id="commentLikeButton+(${comment.get('comment').getId()})"
                        th:onClick = "'javascript:like(\''+${comment.get('comment').getId()}+'\', this)'">
                        <i class="icon vote-arrow"></i>
                            <span class="count js-voteCount" th:id="commentLikeCount+(${comment.get('comment').getId()})">[[${comment.get('likeCount')}]]</span>
                            <span class="label sr-only">赞同</span>
                            </button>
                        </div>
                        <div th:if=" ${comment.get('liked')} le 0" >
                        
                        <button class="up js-like" title="赞同" 
                        th:id="commentLikeButton+(${comment.get('comment').getId()})"
                        th:onClick = "'javascript:like(\''+${comment.get('comment').getId()}+'\')'">
                        <i class="icon vote-arrow"></i>
                            <span class="count js-voteCount" th:id="commentLikeCount+(${comment.get('comment').getId()})">[[${comment.get('likeCount')}]]</span>
                            <span class="label sr-only">赞同</span>
                            </button>
                        </div>
                   
                            
                        

                        <div th:if=" ${comment.get('liked')} lt 0">
                        <button class="down js-dislike pressed" title="反对，不会显示你的姓名"
                        th:id="commentDisLikeButton+(${comment.get('comment').getId()})"
                        th:onClick = "'javascript:dislike(\''+${comment.get('comment').getId()}+'\')'"
                        >
                        
                            <i class="icon vote-arrow"></i>
                            <span class="label sr-only">反对，不会显示你的姓名</span>
                            </button>
                        </div>
                        
                        <div th:if=" ${comment.get('liked')} ge 0">
                        <button class="down js-dislike" title="反对，不会显示你的姓名" 
                        th:id="commentDisLikeButton+(${comment.get('comment').getId()})"
                        th:onClick = "'javascript:dislike(\''+${comment.get('comment').getId()}+'\')'">
                            <i class="icon vote-arrow"></i>
                            <span class="label sr-only">反对，不会显示你的姓名</span>
                            </button>
                        </div>
                        
                    </div>
                    <div class="answer-head">
                        <div class="zm-item-answer-author-info">
                            <a class="zm-item-link-avatar avatar-link" href="" target="_blank" data-tip="p$t$yingxiaodao">
                                <img th:src="${comment.get('user')['headUrl']}" class="zm-list-avatar avatar"></a>
                            <a class="author-link" data-tip="p$t$yingxiaodao" target="_blank" href="">[[${comment.get('user')['name']}]]</a>
                        </div>
                        <div class="zm-item-vote-info">
                                <span class="voters text">
                                    <a href="" class="more text"><span th:id="commentLikeCount_2+(${comment.get('comment').getId()})" class="js-voteCount">[[${comment.get('likeCount')}]]</span>&nbsp;人赞同</a>
                                </span>
                        </div>
                    </div>
                    <div class="zm-item-rich-text expandable js-collapse-body" data-resourceid="6727688" data-action="/answer/content" data-author-name="营销岛" data-entry-url="/question/36301524/answer/66862039">

                        <div class="zm-editable-content clearfix">
                            [[${comment.get('comment')['content']}]]
                        </div>
                    </div>
                    <a class="zg-anchor-hidden ac" name="22162611-comment"></a>
                    <div class="zm-item-meta answer-actions clearfix js-contentActions">
                        <div class="zm-meta-panel">
                            <a itemprop="url" class="answer-data-link meta-item" target="_blank" href="">发布于[[${#dates.format(comment.get('comment').getCreateDate(), 'yyyy-MM-dd HH:mm:ss')}]]</a>
                            <a href="" name="addcomment" class="meta-item toggle-comment js-toggleCommentBox">
                                <i class="z-icon-comment"></i>4 条评论</a>

                            <button class="item-collapse js-collapse" style="transition: none;">
                                <i class="z-icon-fold"></i>收起</button>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <a name="draft"></a>

            <form action="/addComment" method="post">
                <input type="hidden" name="questionId" th:value="${question['id']}"/>
            <div id="zh-question-answer-form-wrap" class="zh-question-answer-form-wrap">
                <div class="zm-editable-editor-wrap" style="">
                    <div class="zm-editable-editor-outer">
                        <div class="zm-editable-editor-field-wrap">
                            <textarea name="content" id="content" class="zm-editable-editor-field-element editable" style="width:100%;"></textarea>
                        </div>
                    </div>

                    <div class="zm-command clearfix">
                            <span class=" zg-right">
                                <button type="submit" class="submit-button zg-btn-blue">发布回答</button></span>
                    </div>
                </div>
            </div>
            </form>

        </div>
    </div>
</div>
<!-- #parse("js.html") -->
<script type="text/javascript">
function like(id){
    var likeCountId = 'commentLikeCount' + id;
    var likeCount2Id = 'commentLikeCount_2' + id;
    
    $.ajax({
        url: "/comment/like",
        type: "GET",
        data:{
            commentId:id
        },
        success:function(data){
        	var res=eval("("+data+")");
            if(res.code == 0){
                document.getElementById(likeCountId).innerHTML = res.likeCount;
                document.getElementById(likeCount2Id).innerHTML = res.likeCount;
            	var likeStatus = res.likeStatus;
            	changeButtonClass(parseInt(likeStatus), id);
            }else if(code == 999){
            	alert('未登录，跳转登录');
            }
        },
        error:function(){
        	window.location.href="/";
        }
    });
    
    
}

function dislike(id){
    var likeCountId = 'commentLikeCount' + id;
    var likeCount2Id = 'commentLikeCount_2' + id;
    $.ajax({
        url: "/comment/dislike",
        type: "GET",
        data:{
            commentId:id
        },
        success:function(data){
            var res=eval("("+data+")");
            if(res.code == 0){
                document.getElementById(likeCountId).innerHTML = res.likeCount;
                document.getElementById(likeCount2Id).innerHTML = res.likeCount;
                var likeStatus = res.likeStatus;
                changeButtonClass(parseInt(likeStatus), id);
            }else if(code == 999){
                alert('未登录，跳转登录');
            }
        },
        error:function(){
            window.location.href="/";
        }
    });
}

function changeButtonClass(likeStatus,id){
    var likeButtonId = 'commentLikeButton' + id;
    var dislikeButtonId = 'commentDisLikeButton' + id;
    if(likeStatus == 1){
        //赞同
        document.getElementById(likeButtonId).className = "up js-like pressed";
        document.getElementById(dislikeButtonId).className = "down js-dislike";
    }else if(likeStatus == -1){
        //反对
        document.getElementById(likeButtonId).className = "up js-like";
        document.getElementById(dislikeButtonId).className = "down js-dislike pressed";
    }else{
        document.getElementById(likeButtonId).className = "up js-like";
        document.getElementById(dislikeButtonId).className = "down js-dislike";
    }
}
</script>
<script type="text/javascript" src="/scripts/main/site/detail.js"></script>
</body></html>