<div th:replace="header::html" ></div>
<link rel="stylesheet" media="all" href="../styles/letter.css">
    <div id="main">
        <div class="zg-wrap zu-main clearfix ">
            <ul class="letter-list">
            <div th:each="conversation : ${conversations}">
                <li id="conversation-item-10005_622873">
                    <a class="letter-link" th:href="@{'/msg/detail?conversationId='+${conversation.get('message')['conversationId']}}"></a>
                    <div class="letter-info">
                        <span class="l-time">
                        [[${#dates.format(conversation.get('message').getCreateDate(), 'yyyy-MM-dd HH:mm:ss')}]]
                        </span>
                        <div class="l-operate-bar">
                            <!--<a href="javascript:void(0);" class="sns-action-del" data-id="10005_622873">
                            删除
                            </a>-->
                            <a th:href="@{'/msg/detail?conversationId='+${conversation.get('message')['conversationId']}}">
                                共[[${conversation.get('message')['id']}]]条会话
                            </a>
                        </div>
                    </div>
                    <div class="chat-headbox">
                        <span class="msg-num">
                            [[${conversation.get('unread')}]]
                        </span>
                        <a class="list-head">
                            <img alt="头像" th:src="${conversation.get('user').getHeadUrl()}">
                        </a>
                    </div>
                    <div class="letter-detail">
                        <a title="通知" class="letter-name level-color-1">
                            [[${conversation.get('user')['name']}]]
                        </a>
                        <p class="letter-brief">
                            [[${conversation.get('message')['content']}]]
                        </p>
                    </div>
                </li>
                </div>
                </ul>

        </div>
    </div>
<!-- #parse("js.html") -->
<script type="text/javascript" src="/scripts/main/site/detail.js"></script>
</body></html>